body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}
.navbar{
    display: flex;
    justify-content: center;
    gap:30px;
    align-items: center;
    width: 100vw;
    height: 70px;
    background-color: #1D428A;

}
.navButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    font-size: 20px;
    color: white;
    background-color: #1D428A;
    border: none;
    transition: .2s;
}
.navButton:hover{
    transform: scale(1.2);
}

.form-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-body{
    height: 800px;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-elements-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-element{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
input{
    width: 250px;
    height: 30px;
    font-size: 20px;
}
.small-input{
    width: 90px;
    height: 30px;
    font-size: 15px;
}
.small-label{
    margin: 0;
    font-size: 15px;
}
.player-stats-container{
    display: flex; gap:10px; margin-top: 10px;
}
.host-players-container{
    display: flex;
    flex-direction: column;
}

.guest-players-container{
    display: flex;
    flex-direction: column;
}
.score-container{
    display: flex;
    flex-direction: column;
}
.submit-button{
    margin-top: 50px;
    width: 100px;
    height: 50px;
    font-size: 20px;
    color: white;
    background-color: #1D428A;
    border: none;
    transition: .3s;
    border-radius: 10px;
}
.submit-button{
    transform: scale(1.2);
}
.submit-button{
    background-color: #193672;
}