body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
}
.navbar{
    display: flex;
    justify-content: center;
    gap:30px;
    align-items: center;
    width: 100vw;
    height: 70px;
    background-color: #1D428A;

}
.navButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    font-size: 20px;
    color: white;
    background-color: #1D428A;
    border: none;
    transition: .2s;
}
.navButton:hover{
    transform: scale(1.2);
}


.add-match-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 70px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 20px;
    color: white;
    background-color: #1D428A;
    border: none;
    transition: .3s;
}

.add-match-button:hover{
    transform: scale(1.2);
}
.add-match-button:active{
    background-color: #193672;
}

    